@model IEnumerable<Wedding.Models.Post>

@{
    ViewBag.Title = "S&H Wedding :: News";
}
    <div class="row">

            @if (User.IsInRole("blogger"))
            {
                <div class="row">
                    <div class = "four columns">
                        @Html.ActionLink("Write new blog post", "Create", "News");                                                 
                    </div>
                    <div class="twelve columns">&nbsp;</div>
                </div>                                                                       
            }

@foreach (var item in Model)
{
        <div class ="twelve columns">
            <a href="@Url.Action("details", "news", new { id = item.PostId })" style="text-decoration: none;">
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
            </a>
        </div>
    if (User.IsInRole("blogger"))
    {
            <div class ="two columns">
            
                    <a href="@Url.Action("edit", "news", new { id = item.PostId })" style="text-decoration: none;">
                        <img alt="Edit" src="@Url.Content("~/Areas/wedding/Images/glyphicons_151_edit.png")"/>
                    </a>
                    <a href="@Url.Action("details", "news", new { id = item.PostId })" style="text-decoration: none;">
                        <img alt="Details" src="@Url.Content("~/Areas/wedding/Images/glyphicons_157_show_lines.png")" />
                    </a>
                    <a href="@Url.Action("delete", "news", new { id = item.PostId })" style="text-decoration: none;">
                        <img alt="Delete" src="@Url.Content("~/Areas/wedding/Images/glyphicons_016_bin.png")" />
                    </a>
            </div>
            <div class = "ten columns"></div>
    }
        <div class = "twelve columns">
            @Html.Raw(HttpUtility.HtmlDecode(item.PostContent))
        </div>
        <div class="twelve columns">@Html.DisplayFor(modelItem => item.Tags, "Tag")</div>
        <div class = "ten columns">@Html.DisplayFor(modelItem => item.UserName)&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Updated)</div>
        <div class = "two columns">&nbsp;</div>
        <div class= "row">&nbsp;</div>
}
    </div>