@model Wedding.Models.Post

@{
    ViewBag.Title = "News :: " + Model.Title;
}

<fieldset>
    <legend></legend>
    <div class="container">
        <div class="sixteen columns"><h4>@Html.DisplayFor(model => model.Title)</h4></div>
        <div class="sixteen columns" style="border: 1px solid #000000">@this.Model.PostContent</div>
        <div class="sixteen columns">
            @Html.DisplayFor(t => Model.Tags, "templateName")
            //use a template to render ActionLink Tags for each Tag
        </div>
        <div class="sixteen Columns">@Html.DisplayFor(model => model.UserName)&nbsp;&nbsp;@Html.DisplayFor(model => model.Updated)</div>
    </div>
</fieldset>
<p>
    @if (User.IsInRole("blogger"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.PostId })
    }
    @Html.ActionLink("Back", "Index")
</p>
