@model Wedding.Models.Rsvp

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Rsvp</legend>

    <div class="display-label">Invitees</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Invitees)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">NoOfAttendees</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoOfAttendees)
    </div>

    <div class="display-label">DietaryRequirements</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DietaryRequirements)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
