@model IEnumerable<Wedding.Models.Rsvp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Invitees
        </th>
        <th>
            Email
        </th>
        <th>
            NoOfAttendees
        </th>
        <th>
            DietaryRequirements
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Invitees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfAttendees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DietaryRequirements)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RsvpId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RsvpId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RsvpId })
        </td>
    </tr>
}

</table>
