@model IEnumerable<Wedding.Models.Post>

@{
    ViewBag.Title = "S&H Wedding :: News";
}
    <div class="container">
        <div class="row">
        <div class = "four columns">
            @if (User.IsInRole("blogger"))
            {
                @Html.ActionLink("Write new blog post", "Create", "News");
            }
            else
            {
                <text>&nbsp;</text>
            }
        </div>
        <div class="twelve columns">&nbsp;</div>
        </div>

@foreach (var item in Model)
{
        <div class ="sixteen columns">
            <a href="@Url.Action("details", "news", new { id = item.PostId })" style="text-decoration: none;">
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
            </a>
        </div>
        if(User.IsInRole("blogger")) {
            <div class ="two columns">
            
                    <a href="@Url.Action("edit", "news", new { id = item.PostId })" style="text-decoration: none;">
                        <img alt="Edit" src="@Url.Content("~/Images/glyphicons_151_edit.png")"/>
                    </a>
                    <a href="@Url.Action("details", "news", new { id = item.PostId })" style="text-decoration: none;">
                        <img alt="Details" src="@Url.Content("~/Images/glyphicons_157_show_lines.png")" />
                    </a>
                    <a href="@Url.Action("delete", "news", new { id = item.PostId })" style="text-decoration: none;">
                        <img alt="Delete" src="@Url.Content("~/Images/glyphicons_016_bin.png")" />
                    </a>
            </div>
            <div class = "fourteen columns"></div>
        }
        <div class = "sixteen columns">
            @Html.DisplayFor(modelItem => item.PostContent)
        </div>
        <div class = "fourteen columns">@Html.DisplayFor(modelItem => item.UserName)&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Updated)</div>
        <div class = "two columns">&nbsp;</div>
        <div class= "row">&nbsp;</div>
}
    </div>